<section class="mt-4" id="about">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h2>About</h2>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <p class="text-justify">
            Motivated. Persistent. Focused. I've had a versatile but always
            focused path with the goal of working as a software developer. I
            took a professional computer management course and worked as an
            intern, as part of the program of this course at an accounting firm.
            I worked part-time as a waiter during the 3 years I took to complete
            my Bachelor's degree in Computer Engineering, at ISCTE-IUL. My
            experiences have ended up giving me communication skills in several
            languages, conflict and time management as well as a broad knowledge
            in computer science. Currently a Software Engineer at Critical TechWorks and
            studying for a Master's degree in Computer Engineering.
          </p>
        </div>
      </div>
    </div>
  </section>