section[id]:before {
  display: block;
  height: 55px;
  margin-top: -55px;
  visibility: hidden;
  content: "";
}

.date-text {
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.4);

  font-size: 9pt;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}
